.tabBar {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 8px;
  background: var(--bottom-panel-header-bg);
  border-bottom: 1px solid var(--border-color);
  flex-shrink: 0;
}

.tab {
  position: relative;
  padding: 0 12px;
  height: 100%;
  color: var(--editor-tab-inactive-fg);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: var(--font-size-small);
}

.tab:hover {
  color: var(--editor-tab-active-fg);
}

.tab.active {
  color: var(--editor-tab-active-fg);
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  height: 1px;
  background: var(--focus-border);
}
