.workbench {
  display: grid;
  grid-template-columns: var(--activity-bar-width) var(--side-panel-width) 1fr;
  grid-template-rows: 1fr var(--status-bar-height);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.activityBar {
  grid-row: 1 / 2;
  grid-column: 1;
  overflow: hidden;
}

.sidePanel {
  grid-row: 1 / 2;
  grid-column: 2;
  overflow: hidden;
  border-right: 1px solid var(--border-color);
}

.sidePanelHidden {
  grid-row: 1 / 2;
  grid-column: 2;
  width: 0;
}

.mainArea {
  grid-row: 1 / 2;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bottomPanel {
  flex-shrink: 0;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
}

.statusBar {
  grid-row: 2;
  grid-column: 1 / -1;
}
